/* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* To try to avoid conflicts with the css we will manage it in a per file basis */
:root {
     /* color palette */
     /* This color palette is taken from the Material UI color palette */
     /* https://mui.com/material-ui/customization/color/ */
     --blue-gray-900: #263238;
     --blue-gray-800: #37474F;
     --blue-gray-700: #455A64;
     --blue-gray-600: #546E7A;
     --blue-gray-500: #607D8B;
     --blue-gray-400: #78909C;
     --blue-gray-300: #90A4AE;
     --blue-gray-200: #B0BEC5;
     --blue-gray-100: #CFD8DC;
     --blue-gray-50: #ECEFF1;

     --green-900: #1B5E20;
     --green-800: #2e7d32;
     --green-700: #388e3c;
     --green-600: #43a047;
     --green-500: #4caf50;
     --green-400: #66bb6a;
     --green-300: #81c784;
     --green-200: #a5d6a7;
     --green-100: #c8e6c9;
     --green-50: #e8f5e9;

     --red-900: #B71C1C;
     --red-800: #c62828;
     --red-700: #d32f2f;
     --red-600: #e53935;
     --red-500: #f44336;
     --red-400: #ef5350;
     --red-300: #e57373;
     --red-200: #ef9a9a;
     --red-100: #ffcdd2;
     --red-50: #ffebee;

     --blue-gray-opaque: rgba(38, 50, 56, 0.7)
}


/* I am going to be using a dark theme throughout the app. */
body {
     background-color: var(--blue-gray-800);
     color: var(--blue-gray-50);
     font-family: 'Roboto', sans-serif;
     font-size: 1rem;
     font-weight: 400;
     /* This is added for no side effects */
     margin: 0;
     padding: 0;

}

input {
     display: block;
     width: 100%;

     margin-top: 0.5rem;
     margin-bottom: 0.5rem;

     padding: 0.5rem 1rem;

     background-color: var(--blue-gray-50);
     border: 1px solid var(--blue-gray-500);
     border-radius: 0.5rem;
}

thead {
     background-color: var(--blue-gray-600);
     font-weight: 700;
}

i:disabled {
     opacity: 0.5;
}

.menulink:hover {
     color: var(--blue-gray-0);
}

.contextmenu-item:hover {
     background-color: var(--blue-gray-200);
     cursor: pointer;
}

.show-contextmenu {
     display: block !important;
}

.page-header {
     display: flex;
     justify-content: end;
}

.btn {
     display: block;
     padding: 0.5rem 1rem;
     background-color: var(--green-700);
     color: var(--green-50);
     border: 1px solid var(--green-700);
     border-radius: 0.5rem;

     text-transform: uppercase;
     font-size: 0.8rem;
     font-weight: 900;
     letter-spacing: 0.05rem;
}

.btn-group {
     display: flex;
     justify-content: space-between;
}

.btn:disabled {
     opacity: 0.5;
}

.error-border {
     border: 2px solid var(--red-500);
}
