package derrors

templ NotImplemented(err map[string]string) {
	if err != nil {
		for k, v := range err {
			<p>{ k }: { v }</p>
		}
	}
	<div>
		<h3>Error</h3>
		<p>Method Not Implemented</p>
	</div>
}
