package base

templ Layout() {
	<!DOCTYPE html>
	<html lang="es">
		<head>
			<title>BCA</title>
			<link rel="stylesheet" href="/css/styles.css"/>
			<script src="https://kit.fontawesome.com/0b0464ef7a.js" crossorigin="anonymous"></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
