package components

templ ButtonGroup() {
	<div class="flex justify-between">
		<button type="submit" class="btn" id="save-button">Grabar</button>
		<button type="button" class="btn" id="close-button" onclick="resetClose()">Cancelar</button>
	</div>
}
