package components

templ CheckBoxComponent(n, i, d string, b bool) {
	<div class="flex items-center justify-start gap-x-2">
		if b {
			<input type="checkbox" name={ n } id={ i } class="inline-block w-4 h-4" value={ n } checked/>
		} else {
			<input type="checkbox" name={ n } id={ i } class="inline-block w-4 h-4" value={ n }/>
		}
		<label for={ i } class="inline-block text-sm">{ d }</label>
	</div>
}
