package components

templ DrawerTitle(title string) {
	<div class="mb-4 flex justify-between items-center pb-2 border-b border-b-blue-gray-800">
		<h4 class="text-lg font-bold">{ title }</h4>
		<p><i class="fa-solid fa-xmark" onclick="resetClose()"></i></p>
	</div>
}
