package components

css main() {
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
}

css maincontent() {
	padding: 1.5rem;
}

css maincontentcontainer() {
	min-height: calc(100vh - 7rem);
	border-radius: 8px;
}

templ Main(active string) {
	<section class={ main() }>
		@SidebarComponent(active)
		<div class={ maincontent() }>
			<div class={ maincontentcontainer() }>
				{ children... }
			</div>
		</div>
	</section>
}
