package components

css main() {
	grid-template-columns: auto 1fr;
}

css maincontent() {
	height: calc(100vh - 4rem);
}

templ Main(active string) {
	<section class={ "relative grid", main() }>
		@SidebarComponent(active)
		<div class={ "p-6 overflow-x-hidden overflow-y-auto", maincontent() }>
			<main id="main-content" class="rounded-lg">
				{ children... }
			</main>
		</div>
	</section>
}
