package bca

import "github.com/alcb1310/bca/internal/views/base"

templ LandingPage(user string) {
	@base.AuthenticatedLayout("") {
		<div>
			<p>Bienvenido <span class="text-green-300 font-bold tracking-wide">{ user }</span></p>
		</div>
	}
}
